<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>프로젝트</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>프로젝트</h1>
    <h3>프로젝트 정보</h3>
    <table>
        <tr>
            <th>제목</th>
            <td th:text="${project.title}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td th:text="${project.content}"></td>
        </tr>
        <tr>
            <th>상태</th>
            <td th:text="${project.getState}"></td>
        </tr>
        <tr>
            <th>관리자</th>
            <td th:text="${project.adminId}"></td>
        </tr>
    </table>

    <h3>업무 목록</h3>
    <table>
        <tr>
            <th>업무 제목</th>
        </tr>
        <tr th:each="task, status : ${tasks}">
            <td><a th:href="@{/tasks/{taskId}(taskId = ${task.taskId})}" th:text="${task.title}"></a></td>
        </tr>
    </table>

    <h3>-----</h3>

    <div>
        <a th:if="${#session.getAttribute('X-USER').id} eq ${project.adminId}" th:href="@{/projects/{projectId}/members/add(projectId = ${project.projectId})}">멤버 추가</a>
    </div>

    <br />

    <div th:if="${#session.getAttribute('X-USER').id} eq ${project.adminId}">
        <form th:action="@{/projects/{projectId}/state(projectId = ${project.projectId})}" method="post">
            <label for="state">프로젝트 상태</label>
            <select id="state" name="state">
                <option value="active">활성</option>
                <option value="sleep">휴면</option>
                <option value="close">종료</option>
            </select>
            <button type="submit">변경</button>
        </form>
    </div>

    <br />

    <div>
        <a href="/">홈</a>
    </div>
</body>
</html>